{% extends 'base.twig' %}

{% block content %}

{% if user %}
<h2> Press "confirm" and a new password will be sent to your e-mail</h2>

    <form action="" method="POST">
        <input type = "hidden" name = "username" value = "{{ user.username }}">
        <input type="submit" name="trueInformation" value="Confirm"> <br />
    </form>

</form>

{% else %}
    Could not find a user with that username.
{% endif %}

{% endblock %}