{% extends 'base.twig' %}

{% block content %}

<h2>Login</h2>

{{ flash.error}} <br />
{{ flash.success|raw }}
<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user" required title="Please fill in a username." /> <br />
<label>Password: </label>
<input type="password" name="pass" required title="Please fill in a password." /> <br />
<input type="submit" name="submit" value="Log in">
</form>
    <a href="/forgot">Forgot password</a>
{% endblock %}
